<h1>Welcome to the sandbox</h1>

<h2>Project tracker</h2>
<p>A user can create a project, name it, give it a due date, and a budget</p>
<p>Then the user can track the time on a project with billable hours and a note</p>
<%= link_to "View projects", projects_path %>
