<h1>Welcome to the sandbox</h1>

<h2>Project tracker</h2>
<h3>About Project</h3>
<p>A user can create a project, name it, give it a due date, and a budget</p>
<p>Then the user can track the time on a project with billable hours and a note</p>
<h3>Developer Notes</h3>
<h4>Projects Model</h4>
<p>The project model has a budget of 999,999.99 Max (6 figures)</p>
<p>
  <strong>Developer hourly rate:</strong>
  The hourly rate for the developer.
</p>
<p>The developer adds hour in the TimeTracker model into the duration column.</p>
<p>Max amount for duration(hours to track) is 99.99</p>
<%= link_to "View projects", projects_path %>
